.btn-up_hide {
    display: none;
}

.catalog_container {
    height: 910px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: space-around;
}

.card {
    display: grid;
    height: 450px;
    width: 100%;
    color: #000000;
    user-select: none;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid #ffffff;
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease;
    margin-top: 10px;
}

.card img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

.card a {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
}

.card .card-button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid #0588fb;
    color: #0588fb;
    background: none;
    cursor: pointer;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-title {
    font-size: 12px;
    color: #313635;
    margin-bottom: auto;
}

.card .badge {
    margin-bottom: auto;
    color: #0588fb;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin-top: 15px;
    background: #ffffff;
    width: fit-content;
    border-radius: 15px;
    border: 2px solid #0588fb;

    transition: 0.4s ease;

}

.card:hover {
    border-color: #0588fb;
}

.card:hover .card-button {
    color: #ffffff;
    background: #0588fb;
}

.card:hover .badge {
    color: #ffffff;
    background: #0588fb;
}

.btnCatalog {
    display: flex;
    width: 1280px;
    justify-content: space-around;
}

.container .btnCatalog button {
    z-index: 100;
    margin-bottom: auto;
    color: #0588fb;
    padding: 10px 20px;
    font-size: 0.95rem;
    font-weight: 500;
    font-size: 26px;
    margin-top: 25px;
    background: #ffffff;
    width: fit-content;
    border-radius: 15px;
    border: 2px solid #0588fb;
    transition: 0.4s ease;
}

.container .btnCatalog button:hover {
    color: #ffffff;
    background: #0588fb;
}

.buttonFilters button {
    z-index: 100;
    margin-bottom: auto;
    color: #0588fb;
    padding: 10px 20px;
    font-size: 0.95rem;
    font-weight: 500;
    font-size: 17px;
    background: #ffffff;
    width: fit-content;
    border-radius: 15px;
    border: 2px solid #0588fb;
    transition: 0.4s ease;
}

.buttonFilters button:hover {
    color: #ffffff;
    background: #0588fb;
}

@media screen and (max-width: 768px) {
    .catalog_container {
        display: contents;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 1280px) {
    .catalog_container {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 10px;
        padding-right: 10px;
    }

    .catalog_container div {
        height: auto;
    }
}